.table-container {
    margin: 20px;
  }
  
  table {
    width: 100%;
  }
  /* Estilos generales para el paginador */
.mat-paginator {
  background-color: #f4f4f9; /* Cambiar el color de fondo */
  padding: 10px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  display: flex;
  justify-content: center;
}

/* Estilo para los botones de anterior y siguiente */
.mat-paginator-navigation {
  color: #5c6bc0; /* Cambiar color de los botones */
}

.mat-paginator-navigation button {
  background-color: #3f51b5;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
}

.mat-paginator-navigation button:hover {
  background-color: #303f9f; /* Cambiar color en hover */
}

.mat-paginator-navigation button[disabled] {
  background-color: #ccc; /* Color para botones deshabilitados */
  cursor: not-allowed;
}

/* Estilo para el texto de rango de páginas */
.mat-paginator-range-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0 20px;
}

/* Estilos para los selectores de tamaño de página (si los usas) */
.mat-paginator-page-size-label,
.mat-select-value-text {
  color: #5c6bc0;
  font-weight: bold;
}

.mat-paginator-page-size {
  margin-left: 20px;
}

.mat-option-text {
  color: #3f51b5;
}

/* Ajustar el tamaño del dropdown del tamaño de página */
.mat-select {
  height: 35px;
  min-width: 70px;
}
